
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Pacifico');

body {
    background-color: white;
}

h1 {
	color: #22A1B2;
	font-family: 'Pacifico', cursive;
	font-size: 5em;
	text-shadow: 3px 2px black;
}

h2 {
	color: #22A1B2;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-shadow: 1px 1px black;
}

h3 {
	color: #22A1B2;
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
}

p {
	color: black;
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
}

p.date {
	color: #22A1B2;
	font-family: 'Josefin Slab', serif;
	font-size: .5em;
}

img#social {
	width: 3.5%;
	height:  3.5%;
}

img.welcome {
	width: 3.5%;
	height:  3.5%;
}

div.featured {
  height: 25%;
  width: 25%;
}

img.banner {
  height: 100%;
  width: 100%;
}

img.thumbnail {
  height: 50%;
  width: 20%;
}



