* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 1.5%;
  color: white;
}

header {
  width: 100%;
}

label {
  display: none;
}

#toggle {
  display: none;
}

input {
  width: 70%;
  font-size: inherit;
  font-family: inherit;
}

input#button {
  width: 15%;
  margin: 0 auto;
  font-size: inherit;
  font-family: inherit;
  background-color: rgb(255, 165, 24);
  padding: 3%;
}

#logo {
  margin: 0 auto;
  text-align: center;
  line-height: 3em;
  padding: 2%;
  clear: both;
}

h1 {
	color: rgb(33, 164, 178);
	font-size: 4.5em;
	text-shadow: 3px 2px rgba(33, 164, 178, 0.4);
	font-family: 'Norican', cursive;
}

h2 {
	color: rgb(255, 165, 24);
  font-size: 2.5em;
	font-family: 'Norican', cursive;
  text-shadow: 3px 2px rgba(255, 165, 24, 0.1);
}

h3 {
	color: rgb(255, 165, 24);
	font-size: 1.5em;
}

div#search {
	float: right;
}

nav	{
  float: left;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(33, 164, 178);
}

header nav {
  font-size: 1.25em;
}

ul li {
  border-right-style: solid;
  border-right-color: white;
  border-right-width: .24em;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  float: left;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

li:nth-of-type(4) {
  border-right: none;
}

li a {
  text-align: center;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: rgba(254, 224, 10, .8);
}

a:hover {
  background-color: rgb(255, 165, 24);
}

a:active {
  color: white;
}

#welcome {
	background-image: url('../images/hero2.jpg');	
  background-position-y: 33%;
  background-size: cover;
  margin-bottom: 2%;
  text-align: center;
  width: 100%;
  padding: 6em;
}

#welcome h3 {
  color: rgb(33, 164, 178);
  font-family: 'Norican', cursive;
  font-size: 2.5em;
  text-shadow: 3px 2px rgba(33, 164, 178, 0.4);
  text-align: center;
}

.paragraph {
  background-color: rgba(255, 255, 255, .87);
  border: .25em solid rgba(255, 255, 255, .87);
  border-radius: 1.5em;
  color: black;
  float: right;
  margin: 5%;
  padding: 2.2%;
  width: 25%;
}

#bio {
  background-color: rgb(33, 164, 178);
  border-radius: 1.5em;
  clear: both;
  margin: 0 25% 1% 25%;
  padding: 1%;
  width: 50%;
}

#bio p {
  text-align: justify;
}

#bio h2 {
  text-align: center;
}

img#headshot {
  width: 40.5%;
  float: left;
  padding: 3%;
}

img.thumbnail {
  margin-left: 10%;
  margin-right: 10%;
  width: 60%;
}

#articles {
	background-color: rgb(33, 164, 178);
  border-radius: 1.5em;
  margin: 2% auto 2% auto;
  width: 100%;
}

p.date {
  color: rgb(254, 224, 10);
  font-style: italic;
  font-size: 1.5em;
}

article {
  display: block;
  float: left;
  margin: auto;
  padding: 2%;
  width: 50%;
  border-left: white 1px solid;
  border-bottom: white 1px solid;
}

article:nth-of-type(4) {
  border-bottom:none;
}
article:nth-of-type(3) {
  border-bottom:none;
}

article p {
  text-align: justify;
}

#newsletter	{
  background-color: rgb(33, 164, 178);
  border-radius: 1.5em;
  width: 50%;
  margin: 0 auto 1% auto;
  padding: 1%;
}

#formname {
  width: 80%;
  font-size: inherit;
  font-family: inherit;
  padding: 2%;
  margin: 1% 10%;
}

#formemail {
  width: 80%;
  font-size: inherit;
  font-family: inherit;
  padding: 2%;
  margin: 1% 10%;
}

#submit {
  width: 50%;
  padding: 3%;
  margin: 1% 20%;
  font-size: inherit;
  font-family: inherit;
  background-color: rgb(255, 165, 24);
}

footer {
	background-color: rgb(33, 164, 178);
	padding: 5%;
  margin: auto;
	width: 100%;
}

#social {
  width: 100%;
  margin: 2% auto;
}

#social img {
	width: 33%;
  padding: 0 13%;
}

footer p {
  clear: both;
  text-align: center;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1220px) {
  #bio{
    width: 55%;
    margin: 0 auto;
  }
  .paragraph {
    width: 40%;
    float: right;
  }
  #welcome {
  background-position-y: 35%;
  padding: 5em;
}
}
@media only screen and (max-width: 1132px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2em;
  }
  #logo {
    margin: 0 auto;
    text-align: center;
    line-height: 2.2em;
    padding: 2%;
    clear: both;
  }
  #social img {
    width: 7.5%;
    padding: 0;
    margin: 0 12%;
  }
  img#headshot {
    width: 42%;
  }
  #bio{
    width: 60%;
    margin: 0 auto;
  }
  #bio p{
    padding: 5%;
  }
}
@media only screen and (max-width: 1073px) {
  img.thumbnail {
    width: 100%;
    margin: 0 auto;
    padding: 0 3% 0 3%;
  }
  header nav {
  font-size: 1em;
  }
  #articles {
  width: 80%;
  }
  #articles h2{
    font-size: 2.6em;
    text-align: center;
  }
  #articles h3{
    font-size: 1.7em;
  }
  article {
    float: none;
    border-left: none;
    width: 85%;
    padding: 7%;
    margin: 0 auto;
  }
  article:nth-of-type(1) {
   border-top: white 1px double;
  }
  article:nth-of-type(3) {
   border-bottom: white 1px solid;
  }
  body {
    font-size: 15px;
  }
  #bio {
    margin: 0 auto;
    width: 80%;
  }
  #bio h2 {
    font-size: 3em;
  }
  .paragraph {
    width: 47%;
  }
  p.date {
  font-size: 1em;
  }
  #newsletter  {
    width: 80%;
    margin: 0 auto 3% auto;
    padding: 3%;
  }
  #newsletter h2 {
    font-size: 3em;
    text-align: center;
  }
  #newsletter p {
    text-align:center;
  }
  #formname {
    padding: 1%;
    margin: 1% 10%;
  }
  #formemail {
    padding: 1%;
    margin: 1% 10%;
  }
  #submit {
  padding: 1%;
  margin: 1% 25%;
}
}
@media only screen and (max-width: 875px) {
  img#headshot{
    width: 50%;
    margin: 0 25%;
    float: none;
  }
  #bio p {
    text-align: center;
  }
}
@media only screen and (max-width: 816px) {
  .paragraph {
    width: 60%;
    float: none;
    margin: 0% 20%;
  }
}
@media only screen and (max-width: 750px) {
  #search{
    display: none;
  }
  nav {
    display: none;
  }
  nav a:link{
    display: block;
    padding: 5%;
    margin: 5%;
  }
  #lander label{
    background-color: rgb(33, 164, 178);
    text-align: center;
    display: block;
    padding: 3% 7%;
    font-size: 1.2em;
  }
  #toggle:checked + nav{
    display: block;
  }
  .paragraph{
    width: 80%;
    margin: 0% 10%;
  }
  #welcome {
  background-image: url('../images/bali-swing.jpg'); 
}

@media only screen and (max-width: 400px) {
  body {
   font-size: 14px;
  }
  #logo h2{
    font-size: 1.5em;
  }
  .paragraph{
    width: 90%;
  }
  #bio {
    width: 90%;
    margin: 0 5%;
  }
}