* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 1.5%;
}

header {
  width: 100%;
}


div#logo {
  margin: 0 auto;
  text-align: center;
  line-height: 3.5em;
  padding: 2%;
}

h1 {
	color: rgb(33, 164, 178);
	font-size: 6em;
	text-shadow: 3px 2px rgba(33, 164, 178, 0.4);
	font-family: 'Norican', cursive;
}

h2 {
	color: rgb(255, 165, 24);
  font-size: 4em;
	font-family: 'Norican', cursive;
  text-shadow: 3px 2px rgba(255, 165, 24, 0.1);
}

h3 {
	color: rgb(255, 165, 24);
	font-size: 2em;
}

div#search {
	float: right;
}

nav	{
  float: left;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(33, 164, 178);
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  float: left;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(255, 165, 24);
  width: 25%;
}

#welcome {
	background-image: url('../images/hero2.jpg');	
  float:left;
  height: -webkit-fill-available;
  text-align: justify;
  width: 100%;
}

#welcome h3 {
  color: rgb(33, 164, 178);
  font-family: 'Norican', cursive;
  font-size: 2.5em;
  text-shadow: 3px 2px rgba(33, 164, 178, 0.4);
  text-align: center;
}

.paragraph {
  background-color: rgba(255, 255, 255, .87);
  border: .25em solid rgba(255, 255, 255, .87);
  border-radius: 1.5em;
  margin: 6%;
  padding: 2.2%;
  width: 25%;
}

#bio {
  background-color: rgb(33, 164, 178);
  border-radius: 1.5em;
  clear: both;
  margin: 0 25% 0 25%;
  padding: 1%;
  width: 50%;
}

#bio p {
  color: white;
  text-align: justify;
}

#bio h2 {
  text-align: center;
}

img#headshot {
  width: 30%;
  float: left;
  padding: 1%;
}

img.thumbnail {
  margin-left: 10%;
  margin-right: 10%;
  width: 60%;
}

div#articles {
	background-color: rgb(33, 164, 178);
  border-radius: 1.5em;
  margin: 2% auto 2% auto;
  width: 100%;
}

p.date {
  color: rgb(254, 224, 10);
  font-style: italic;
  font-size: 1.5em;
}

article {
  display: block;
  float: left;
  margin: auto;
  padding: 2%;
  width: 50%;
  border-left: white 1px solid;
  border-bottom: white 1px solid;
}

article p {
  text-align: justify;
  color: white;
}

section#newsletter	{
  background-color: rgb(33, 164, 178);
  border-radius: 1.5em;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
}

footer {
	background-color: rgb(33, 164, 178);
	padding: 20px;
	width: 100%;
}

div#social {
	float: right;
}

img#social {
	width: 3.5%;
	float: right;
	display: inline;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

