body {
    background-color: white;
}

h1 {
	color: purple;
	font-family: "Courier New";
	text-align: center;
}

h2 {
	color: purple;
	font-family: "Courier New";
	font-weight: bold;
	text-align: center;
}

h3 {
	color: green;
	font-family: "Courier New";
}

h3.featured {
	text-align: left
}

p {
    color: black;
    font-family: "Courier New";
}

img#welcome {
	width: 100%;
	height: 70%;
}

img#social{
	width: 3.5%;
	height:  3.5%;
}


